body, html {
    height: 100%;
}

.background{
    background-image: url(../img/form-img1.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.transbox{
    border: 2px solid black ;
    background-color: #ffffff;
    opacity: 0.6;
}

.transbox1{
    border: 2px solid black ;
    background-color: #ffffff;
}

.item1{
    color: black;
    font-weight: bold;
}

.submit-button {
    color: black;
    font-weight: bold;
    margin-top: 10px;
}